

    





.header{
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
   
}
.container{
    display: flex;
    justify-content: space-around;


}
ul{
    display: flex;
    justify-content: space-around;
   /*  width: 30%; */
  
}
 li{
    list-style: none;
     width:50%; 

}
.x{
    width:100px
}
.logo{
    display: flex;
    justify-content: center;
}
.h1{
    display: flex;
    justify-content: center;
    color: #00b39b

}
.Grid{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.col1{
    padding-left: 20%;
    padding-right: 2%;
}
.col2{
    padding-right:20%;
    padding-left: 2%;
}
p{
    color: red;
}
